@use "../../../presets" as *;
@use "../../../mixins" as *;

.form {
  padding: $gap-lg 0;
  background-color: $color-primary;

  &__container {
    display: grid;
    gap: $gap;
    
    @include md-min {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "a1 a2 a3";
    }
    
    @include md-sm {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "a1 a1" "a2 a3";
    }
    
    @include sm {
      grid-template-columns: 1fr;
      grid-template-areas: "a1" "a2" "a3";
    }

    @extend %container;
  }

  .btn--primary {
    width: 100%;
    color: #ffffff;
    border-color: rgba($color: $color-light, $alpha: 0);
    border-bottom-color: rgba($color: $color-light, $alpha: 0.2);
    background-color: rgba($color: $color-light, $alpha: 0.1);

    &:hover,
    &:focus {
      background-color: $color-accent;
      border: 2px solid $color-light;
    }
  }
}

