@use "../../../presets" as *;
@use "../../../mixins" as *;

.posts {
  h2 {
    margin-top: 0;
  }

  @include lg-min {
    padding: $gap-x5 0;
  }

  @include lg-md {
    padding: $gap-x4 0;
  }

  @include md {
    padding: $gap-x3 0;
  }

  &__container {
    @extend %container;
  }

  &__grid {
    display: grid;
    gap: $gap;
    padding-bottom: $gap;
    
    @include lg-min {
      grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
      grid-template-columns: repeat(4, 1fr);
    }

    @include lg-md {
      grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6";
      grid-template-columns: repeat(3, 1fr);
    }

    @include md-sm {
      grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
      grid-template-columns: 1fr 1fr;
    }

    @include sm {
      grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
    }
  }
  
  &__actions {
    @include sm-min {
      display: flex;
      justify-content: center;
    }
  }
}